@font-face {
    font-family: 'Hershey';
    src: url('fonts/Hershey-Noailles-Futura-Duplex-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'syne';
    src: url('fonts/SyneMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bbb';
    src: url('fonts/BBBBaskervvol-Base.woff') format('woff'),
        url('fonts/BBBBaskervvol-Base.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bbb';
    src: url('fonts/BBBBaskervvol-Fondue.woff') format('woff'),
        url('fonts/BBBBaskervvol-Fondue.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}