body {
    font: 18px/1.1em bbb, sans-serif;
    line-height: 1.4;
}

/* ------- MAIN PAGE -------*/

@page {
    size: A5;

    @bottom-center {
        content: '///// 'counter(page) ' /////';
        font-size: 0.8em;
        font-family: "syne", monospace;
    }
}

@page :left {
    margin: 1cm 3cm 2cm 1cm;
}

@page :right {
    margin: 1cm 1cm 2cm 3cm;
}

/* ------- MAIN STYLE -------*/
h1, h2, h3, h4, h5 {
    font-family: "Hershey", sans-serif;
    font-weight: normal;
}

h2:first-child,
h3:first-child {
    margin-top: 0;
}

h3{
    margin-top: 1cm;
    margin-bottom: 0mm;
}

h4{
    margin-top: 5mm;
    margin-bottom: 0mm;
}

h5{
    font-size: 1em;
    margin-top: 5mm;
    margin-bottom: 0mm;
}

h5:before{
    content: "→";
    margin-right: 2mm;
}


ul{
    margin-top: 0mm;
}

p{
    widows: 2;
    orphans: 2;
    margin-top: 0mm;
    hyphens: auto;
}

code {
    font-family: "syne", monospace;
    /*font-size: 16px/1.1em;*/
    overflow-wrap: break-word;
    color: #FFF;
    background: #000;
    font-size: 11.5pt;
    padding: 2px 5px;
}

a {
    word-break: break-all;
    border-bottom: 1px dotted #000;
    color: #000;
    text-decoration: none;
}

figure {
    max-width: 100%;
    margin: 0;
}

figure.small-img{
    width: 70%;
}

img {
    width: 100%;
}

small{
    line-height: 1.2;
    display: block;
}

.break-before {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
}

.break-page {
    page-break-before: always;
}

/* ------- MAIN STYLE QUENTIN -------*/

section.quentin {
    /*break-before: right;*/
    page-break-before: always;
}

.quentin pre {
    background-color: black;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    margin: 0;
}

.quentin .title {
    position: relative;
    left: 10mm;
    top: -15mm;
    margin-bottom: -100px;
}

.quentin .bigtitle{
    position: absolute;
    width: 600px;
    left: -50mm;
    margin-bottom: -100px;
}

.quentin .bigtitle:nth-child(2){
        transform: rotate(66deg);
        top: 15mm;
        left: -31mm;
}

.quentin .title svg, .bigtitle svg {
    font-family: "Hershey", sans-serif;
}

.quentin-scripts{
    page: quentinScripts;
}

@page quentinScripts{
    @top-left-corner {
        content: '';
        background-color: black;
    }

    @top-center {
        content: '';
        background-color: black;
    }

    @top-right {
        content: '';
        background-color: white;
    }


    @left-top {
        content: '';
        background-color: white;
    }

    @left-middle {
        content: '';
        background-color: black;
    }

    @left-bottom {
        content: '';
        background-color: white;
    }

    @right-top {
        content: '';
        background-color: black;
    }

    @right-middle {
        content: '';
        background-color: white;
    }

    @right-bottom {
        content: '';
        background-color: black;
    }

    @bottom-left-corner {
        content: '';
        background-color: white;
    }

    @bottom-right-corner {
        content: '';
        background-color: white;
    }
}

.pagedjs_quentinScripts_page .pagedjs_pagebox>.pagedjs_area {
    padding: 20px 10px;
}

@page quentinScript:left {
    margin: 1cm 3cm 1cm 1cm;

    @right-top {
        content: '';
        background-color: white;
    }

    @right-bottom {
        content: '';
        background-color: white;
    }
}

@page quentinScript:right {
    margin: 1cm 1cm 1cm 3cm;

    @right-top {
        content: '';
        background-color: white;
    }

    @left-middle {
        content: '';
        background-color: white;
    }
}

/* ------- MAIN STYLE SARAH -------*/
.sarah h2 {
    text-align: center;
    text-transform: uppercase;
    margin-left: -1cm;
}

.sarah h2 pre {
    font-family: "Hershey", sans-serif;
    margin-top: 5mm;
    background: transparent;
}

/*.sarah h3{
    margin-top: 1cm;
    margin-bottom: 0mm;
}

.sarah h4{
    margin-top: 5mm;
    margin-bottom: 0mm;
}

.sarah h5{
    font-size: 1em;
    margin-top: 5mm;
    margin-bottom: 0mm;
}

.sarah h5:before{
    content: "→";
    margin-right: 2mm;
}

.sarah p{
    margin-top: 2mm;
    hyphens: auto;
}

.sarah ul{
    margin-top: 2mm;
}*/

.sarah p,
.sarah li {
    background: #FFF;
}

/*.sarah code {
    color: #FFF;
    background: #000;
    font-size: 12pt;
    padding: 2px 5px;
}*/

/* --------- COVER -------------- */

.cover {
    page: cover;
}

@page cover {
    @bottom-center {
        content: "";
    }
}

.cover .intro-title {
    background: #FFF;
    border: 2px solid #000;
    border-radius: 50%;
    margin-bottom: 0cm;
    margin-left: -45px;
}

.cover h1 {
    margin: 0;
    font-family: "Hershey";
    font-weight: bold;
    font-size: 65pt;
    text-align: center;
    line-height: 0.7;
    color: #FFF;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    z-index: 2;
}

.cover h2 {
    font-size: 1em;
    margin: 0;
    text-align: center;
}


/* --------- INTERPAGE --------- */

.blank_page{
    page: blank;
    height: 210mm;
    width:148cm;
}

@page blank{
    @bottom-center {
        content: "";
    }
}

.interpage-wrapper{
    page-break-after: always;
    page: interpage;
}

.interpage-wrapper h1.interpage {
    /*color: #FFF;*/
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.interpage-wrapper h1.interpage pre {
    font-family: "Hershey", sans-serif;
    font-size: 22px;
}

@page interpage {
    /*background: #000;*/
    /*margin: 8mm 5mm 0mm 5mm;*/
    @bottom-center {
        content: "";
    }
}

.sarah p.scripts-dependance{
    margin-top: 0;
    font-size: 0.8em;
    font-style: italic;
}

/* ------- INTRODUCTION -------- */

.introduction {
    page: introduction;
}

@page introduction {
    @bottom-center {
        content: "";
    }
}

@page:first {
    margin-bottom: 0;
}

.pagedjs_introduction_page {
    position: relative;
}

.introduction p {
    background: #FFF;
}

.chars-fun {
    position: absolute;
    font-family: "syne";
    font-size: 10pt;
    z-index: -1;
}


/* ---------  DÉPENDANCES    -----------*/


.sarah p.scripts-dependance:before{
    content: "→";
    margin-right: 2mm;
}


#dependances-intro p{
    font-size: 0.7em;
    text-align: center;
    position: absolute;
    top: -3mm;
    right: -6mm;
    width: 5cm;
    font-style: italic;
    background: transparent;
    transform: rotate(10deg);
    hyphens: none;
}


/* ------------ EXPERIMENTATIONS / DEMO -------- */
.author{
    margin:0;
    font-family: "Hershey";
    margin-bottom: 5mm;
    margin-top: -0.5cm;
    line-height: 1.2;
}

.author:before{
    content:"⁂";
    margin-right: 2mm;
}

.author:after{
    content:"⁂";
    margin-left: 2mm;
}

section.quentin-demo{
  page-break-after: always;
}

.quentin-demo p, .quentin-demo li{
  word-spacing: 5px;
}

.quentin-demo h1{
  display:  block;
  position: absolute;
  font-size: 50px;
  line-height: 0.7;
  color: #FFF;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  margin: 0;
  bottom: 0px;
  right: 0;
  width: 124px;
    
}

.quentin-demo h1 span{
  display: inline-block;
  color: var(--background);
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}

.quentin-demo h2{
  font-size: 40px;
  width: 115px;
  line-height: 0.7;
}

.quentin-demo h2 span,
.quentin-demo h3 span,
.quentin-demo h4 span,
.quentin-demo h5 span{
  display: inline-block;
}

.quentin-demo p span, .quentin-demo li span{
  border-bottom: 2px solid black;
  border-radius: 30%;
  height: 20px;
}

.quentin-demo {
  list-style-type: '⁔ ';
}

.quentin-demo figcaption{
  font-size: 14px;
}

/* ----------- GALERIE ------------------*/

.galerie-page{
  page-break-after: always;
  width: 148mm;
  height: 210mm;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  page: galerie;
}

@page galerie{
    margin:0;
    @bottom-center {
        content: "";
    }
}

.galerie-page figcaption{
  position: absolute; 
  background: #FFF;
  font-family: "syne";
  font-size: 10pt;
  bottom: 4mm;
}

.pagedjs_left_page .galerie-page figcaption{
  left: 5mm;
}

.pagedjs_right_page .galerie-page figcaption{
  right: 5mm;
}

/* ----------- ANNEXES ------------------*/

h1#commandes-essentielles-pour-le-terminal{
    margin-top: 0;
}

h1#commandes-essentielles-pour-le-terminal > span > span{
display: inline-block;
width: 0.85em;
height: 0.85em;
background: black;
color: white;
border-radius: 5px;
text-align: center;
line-height: 1;
margin-right: 3px;
}

h1#commandes-essentielles-pour-le-terminal > span{
  display: inline-block;
}
h1#commandes-essentielles-pour-le-terminal > span > span:nth-of-type(odd){
  transform: rotate(4deg);
}
h1#commandes-essentielles-pour-le-terminal > span > span:nth-of-type(even){
  transform: rotate(-4deg);
}

h2#modifier-des-fichiers-et-dossiers{
  break-before: page;
  margin-bottom: 0;
}

/*PARTIE GLOSSAIRE MAXI BIDOUILLE */

#gloss{
  page-break-before: always;
  columns: 2;
  column-gap: 0.5cm;
  column-fill: auto;
  font-family: 'Hershey';
  
}

#gloss .def-wrapper{
  page-break-inside: avoid;        
  break-inside: avoid;       
  display:table;                
}

#gloss .def {
  margin-top: 0;
  border: 1px solid black;
  padding: 0 1em;
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* Chrome, Safari, IE 11 */
  display:table;                      /* Actually FF 20+ */
}


#gloss .def-wrapper:nth-child(even) .def, 
#gloss .def-wrapper:nth-child(even) h2, 
#gloss .def-wrapper:nth-child(even) h3{
  background: white;
  color: black;
}

#gloss .def-wrapper:nth-child(odd) .def, 
#gloss .def-wrapper:nth-child(odd) h2, 
#gloss .def-wrapper:nth-child(odd) h3{
  background: black;
  color: white;
}
 

#gloss h1{
  margin-bottom: 0;
}

#gloss h2{
  font-size: 1em;
}

#gloss p, #gloss ol, #gloss h3{
  font-size: 12px;
  line-height: 1.2;
}


#gloss h2, #gloss h3  {
  margin-bottom: 0;
  transform: translate(1em,0.5em);
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em 0.5em;
  display: inline-block;
  border-bottom: none;
  max-width: calc(100% - 2em);
  break-after: avoid;
  text-align: center;
  line-height: 1.2;
}

  #gloss ol{
  padding-left: 0;
  list-style-position: inside;
}

#gloss p{
    margin-top: 1em;
}

#gloss a{
  display: block;
  hyphens: auto;
  color: inherit;
  text-decoration: none;
  word-break: break-word; 
  border-bottom: none;
}

#gloss a:before{
  content: '✁\00a0';
  text-decoration: none;
   
}

div > h2:first-child{
    margin-top: 0;
}

div > .def[data-split-original="true"]{
    border-bottom: none;
}


div > .def[data-split-from] {
    border-top: none;
}


/* -------- CRÉDITS ---------- */
.credits {
    page: credits;
}

@page credits{
    @bottom-center {
       content: "";
    } 
}

.credits .row{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
}

.pagedjs_credits_page{
    background: url("../stars.jpg");
}

.credits article{
    width: calc(50% - 40px);
    transform-origin: 50% 100%;
    transform: perspective(550px) rotateY(35deg) rotateX(10deg);

}

.credits article.large{
    width: 100%;
}

.credits article:nth-child(odd){
    margin-right: 40px;
}

/* ------- TABLE OF CONTENTS ----------- */

#table-of-contents{
    page: toc;
    margin-top: 4cm;
}

@page toc{
    @bottom-center {
       content: "";
    }  
}

#table-of-contents ul{
    padding:0;
}

#table-of-contents li{
    /*text-align: center;*/
    background: #000;
    font-family: "Hershey";
    display: inline-block;
    padding: 1mm 3mm;
    margin-bottom: 2mm; 
}

#table-of-contents li a{
    border-bottom: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1em;
}

#list-toc-generated{ list-style: none;}

#list-toc-generated .toc-element a::after{
    content: target-counter(attr(href), page);
    float: right;
}

#list-toc-generated .toc-element-level-1{
    /*margin-top: 25px;*/
    /*font-weight: bold;*/
}

#list-toc-generated .toc-element-level-2{
    margin-left: 25px;
}


/* target-text(attr(href), before) doesn't work for now, replace with counters (see below)*/
/* #list-toc-generated .toc-element a::before{
    content: target-text(attr(href), before);
} */

/* counters */

#list-toc-generated{ 
    counter-reset: counterTocLevel1; 
}

#list-toc-generated .toc-element-level-1{ 
    counter-increment: counterTocLevel1; 
    counter-reset: counterTocLevel2; 
}
/*
#list-toc-generated .toc-element-level-1::before{ 
    content: counter(counterTocLevel1) ". ";
    padding-right: 5px;
}*/

#list-toc-generated .toc-element-level-2{ 
    counter-increment: counterTocLevel2; 
}

#list-toc-generated .toc-element-level-2::before{ 
    content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". ";
    padding-right: 5px;
}

/*  leader() doesn't work for now, replace with the hack bellow */
/* #list-toc-generated .toc-element a::after{
    content: leader('.') " p. " target-counter(attr(href), page);
    float: right;
} */

/* hack for leaders */

#list-toc-generated{
    overflow-x: hidden;
}

/*#list-toc-generated .toc-element::after{
    content: "...........................................................";
    float: left;
    width: 0;
    padding-left: 5px;
    letter-spacing: 2px;
    color:#FFF;
}*/

#list-toc-generated .toc-element{
    display: flex; 
    position: relative;
}

#list-toc-generated .toc-element a::after{
    position: absolute;
    right: 0;
    top:1mm;
    right: 3mm;
    /*background-color: white;*/
    padding-left: 6px;
    display: block;
}

#list-toc-generated .toc-element a{
    right: 0;
}

.backcover p {
  position: absolute;
  bottom: -1.5cm;
  /*background: #000;*/
/*  text-align: center; 
  font-family: "Hershey";*/
  /*font-size: 1.5em;*/
}

.backcover p a{
  color: #FFF;
  background: #000;
  font-family: "Hershey";
  padding: 2mm 3mm;
}

