@font-face {
    font-family: 'Hershey';
    src: url('fonts/Hershey-Noailles-Futura-Duplex-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'syne';
    src: url('fonts/SyneMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bbb';
    src: url('fonts/BBBBaskervvol-Base.woff') format('woff'),
        url('fonts/BBBBaskervvol-Base.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bbb';
    src: url('fonts/BBBBaskervvol-Fondue.woff') format('woff'),
        url('fonts/BBBBaskervvol-Fondue.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
    --margin: 40px;
    --background: #FAFAFA;
}

body {
    font: 20px bbb, sans-serif;
    line-height: 1.4;
    overflow-x: hidden;
    background: var(--background);
    margin: calc(var(--margin) + 20px);
}

a {
    color: #000;
}

header {
    width: 55%;
    margin-left: 25%;
    background: var(--background);
    margin-bottom: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    /*padding: 0px 20%;*/
}

header h1 {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Hershey";
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    line-height: 0.7;
    color: var(--background);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    z-index: 2;
}

header h2 {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    font-size: 1.2em;
}

nav {
    height: calc(100vh - (var(--margin) + 20px) * 2);
    width: 24%;
    margin-top: 1em;
    position: fixed; 
    top: var(--margin);
    overflow: scroll;
    padding: 5px 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    margin-bottom: 5px;
    font-family: "Hershey";
    font-size: 1.2em;
}

nav ul li:before {
    content: none;
}

nav ul li a {
    text-decoration: none;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    padding: 5px 10px;
}

nav ul li a:hover,
nav ul li.active a {
    background: #FFF;
    color: #000;
}

nav ul>li>ul {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul>li>ul>li {
    font-size: 0.8em;
}

nav ul>li>ul>li a {
    border: none;
    background: transparent;
}

nav ul>li>ul>li a:before {
    content: "→ ";
}


/* ---------- FONTS -------- */
h1, h2, h3, h4, h5 {
    font-family: "Hershey", sans-serif;
    font-weight: normal;
}

code {
    font-family: "syne", monospace;
    font-size: 12px;
    line-height: 1.1;
    background-color: #000;
    color: #FFF;
    padding: 0px 4px;
    overflow-wrap: break-word;
}

pre {
    /*background-color: #000;*/
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    margin: 0;
}

.title svg {
    font-family: "Hershey", sans-serif;
}

/* --------- F I G U R E S --------- */
figure {
    margin: 0;
    width: 100%;

}

img {
    width: 100%;
}

/* --------- M A I N --------- */
.row {
    display: flex;
    max-width: 1600px;
    margin: auto;
}

main {
    width: 55%;
    background: var(--background);
    padding: var(--margin);
    margin: calc(var(--margin) / -2) 0 0 calc(var(--margin) / -2);
    margin-left: 25%;
    /*	margin: auto;
	margin-top: 50px;
	margin-bottom:200px;*/
}

main h2 {
    text-align: center;
    text-transform: uppercase;
    margin-left: -40px;
    margin-top: calc(var(--margin)*2);
}

main h2 pre {
    font-family: "Hershey", sans-serif;
    background-color: transparent;
}

main h3{
    margin-top: var(--margin);
    margin-bottom: 0;
}
main h4, main h5{
    margin-top: var(--margin);
    margin-bottom: 0;
}

main h5{
    font-size: 1em;
}

h5:before{
    content: "→";
    margin-right: 2mm;
}

main p, main ul{
    margin-top:0;
}

main code {
    color: #FFF;
    background: #000;
    font-size: 0.9em;
}

.chars-fun {
    position: absolute;
    z-index: -1;
}

/* --------- S C R I P T S --------- */

.quentin pre {
    background-color: black;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    margin: 0;
}

.quentin .title {
    position: relative;
    left: 10mm;
    /*top: -15mm;*/
    /*margin-bottom: -100px;*/
    width: 80%;
    max-height: 300px;
    pointer-events: none;
}

.quentin .title svg{
    font-family: "Hershey", sans-serif;
}

.quentin .title + h3{
    margin-top: 0;
}

/* ------------ EXPERIMENTATIONS / DEMO -------- */
.author{
    margin:0;
    font-family: "Hershey";
    margin-bottom: 5mm;
    margin-top: -0.5cm;
    line-height: 1.2;
}

.author:before{
    content:"⁂";
    margin-right: 2mm;
}

.author:after{
    content:"⁂";
    margin-left: 2mm;
}

.quentin-demo p, .quentin-demo li{
  word-spacing: 5px;
}

.quentin-demo h1{
  display:  block;
/*  position: absolute;*/
  font-size: 50px;
  line-height: 0.7;
  color: #FFF;
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
  margin: 0;
/*  bottom: 0px;
  right: 0;*/
  /*width: 124px;*/
    
}

.quentin-demo h1 span{
  display: inline-block;
  color: var(--background);
  text-shadow: -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}

.quentin-demo h2{
  font-size: 40px;
  /*width: 115px;*/
  line-height: 0.7;
  text-align: left;
}

.quentin-demo h2 span,
.quentin-demo h3 span,
.quentin-demo h4 span,
.quentin-demo h5 span{
  display: inline-block;
}

.quentin-demo p span, .quentin-demo li span{
  border-bottom: 2px solid black;
  border-radius: 30%;
  height: 20px;
}

.quentin-demo {
  list-style-type: '⁔ ';
}

.quentin-demo figcaption{
  font-size: 14px;
}

/* ----------- GALERIE ------------------*/

.galerie-page{
    margin-bottom: calc(var(--margin) * 4);
    width: 80%;
}

.galerie-page figcaption{
  font-family: "syne";
  font-size: 10pt;
  background: #000;
  color: #FFF;
  padding: 5px 10px;
  display: inline-block;
  float: right;
}

.galerie-page figcaption a{
    color: #FFF;
}

/* --------- A N N E X E S --------- */

/*TITRE TERMINAL */

h1#commandes-essentielles-pour-le-terminal > span > span{
display: inline-block;
width: 0.85em;
height: 0.85em;
background: black;
color: white;
border-radius: 5px;
text-align: center;
line-height: 1;
margin-right: 3px;
}

h1#commandes-essentielles-pour-le-terminal > span{
	display: inline-block;
}
h1#commandes-essentielles-pour-le-terminal > span > span:nth-of-type(odd){
  transform: rotate(4deg);
}
h1#commandes-essentielles-pour-le-terminal > span > span:nth-of-type(even){
  transform: rotate(-4deg);
}

#gloss{
    margin-top: calc(var(--margin) * 2);
    padding-top: var(--margin);
    border-top: 2px solid #000;
}

#gloss #glossaire{
    text-align: center; 
    margin-bottom: 0;
}

#gloss h2{
    margin-left: 0;
}

/* -----------  C R É D I T S ------- */
.credits .row{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8em;
}

.pagedjs_credits_page{
    background: url("../stars.jpg");
}

.credits article{
    width: calc(50% - 40px);
    transform-origin: 50% 100%;
    transform: perspective(550px) rotateY(35deg) rotateX(10deg);

}

.credits article.large{
    width: 100%;
}

.credits article:nth-child(odd){
    margin-right: 40px;
}

/* --------- M A R G I N    S T Y L E --------- */

.margin-top,
.margin-bottom {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    height: var(--margin);
    display: flex;
}

.margin-bottom {
    top: auto;
    bottom: 0;
}

.margin-top>div,
.margin-bottom>div {
    height: 100%;
}

.margin-top .top-left-corner {
    width: 10%;
    background: #000;
}

.margin-top .top-left {
    width: 15%;
    background: var(--background);
}

.margin-top .top-middle {
    width: 50%;
    background: #000;
}

.margin-top .top-right {
    width: 15%;
    background: var(--background);
}

.margin-top .top-right-corner {
    width: 10%;
    background: #000;
}

.margin-bottom .bottom-left-corner {
    width: 10%;
    background: var(--background);
}

.margin-bottom .bottom-left {
    width: 15%;
    background: #000;
}

.margin-bottom .bottom-middle {
    width: 50%;
    background: var(--background);
}

.margin-bottom .bottom-right {
    width: 15%;
    background: #000;
}

.margin-bottom .bottom-right-corner {
    width: 10%;
    background: var(--background);
}

.margin-left,
.margin-right {
    height: calc(100vh - var(--margin));
    position: fixed;
    top: var(--margin);
    left: 0;
    pointer-events: none;
    width: var(--margin);
}

.margin-right {
    left: auto;
    right: 0;
}

.margin-left>div,
.margin-right>div {
    width: 100%;
}

.margin-left .left-top-corner {
    height: 25vh;
    background: var(--background)
}

.margin-left .left-middle {
    height: 50vh;
    background: #000;
}

.margin-left .left-bottom-corner {
    height: 25vh;
    background: var(--background)
}

.margin-right .right-top-corner {
    height: 25vh;
    background: #000;
}

.margin-right .right-middle {
    height: 50vh;
    background: var(--background);
}

.margin-right .right-bottom-corner {
    height: 25vh;
    background: #000;
}

.hide-for-small-only {
    display: block;
}

.show-for-small-only {
    display: none;
}

@media only screen and (max-width: 52em) {
    .hide-for-small-only {
        display: none;
    }

    .show-for-small-only {
        display: block;
    }

    body {
        margin: var(--margin);
        font-size: 1em;
    }

    header {
        width: 100%;
        margin: 0;
        margin-bottom: var(--margin);
    }

    header h1 {
        font-size: 2.7em;
    }

    nav {
        position: fixed;
        background: var(--background);
        width: calc(100% - calc(var(--margin) *2));
        top: 0;
        left: 0;
        padding: var(--margin);
        padding-top: calc(var(--margin) * 2);
        height: auto;
        display: none;
    }


    .menu-btn {
        text-transform: uppercase;
        font-family: "Hershey", sans-serif;
        text-align: center;
        cursor: pointer;
        font-size: 1.2em;
        margin-top: 20px;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        padding: 10px;
    }

    #toggle-menu:checked~nav {
        display: block;
        /*	  -webkit-transition: max-height .5s ease;
	  -o-transition: all .5s ease;
	  transition: all .5s ease;
	  padding:0 20px 20px;
	  left: 0px;*/
    }

    #toggle-menu+label {
        width: 100%;
        text-align: left;
    }


    #toggle-menu .span-nochecked,
    #toggle-menu .span-checked {
        cursor: pointer;
        padding-right: 20px;
        transition: all 0.5s ease;
        margin-bottom: 10px;
    }


    #toggle-menu+label .span-nochecked {
        display: block;
        cursor: pointer;
    }

    #toggle-menu+label .span-checked {
        display: none;
        cursor: pointer;
    }

    #toggle-menu:checked+label .span-nochecked {
        display: none;
    }

    #toggle-menu:checked+label .span-checked {
        display: block;
    }


    main {
        width: 100%;
    }

    main h2 {
        margin-left: 0;
        font-size: 1.2em;
        margin-top: var(--margin);
    }

    .margin-top,
    .margin-bottom {
        height: calc(var(--margin) / 2);
    }

    .margin-left,
    .margin-right {
        width: calc(var(--margin) / 2);
    }

}