@font-face {
  font-family: 'Hershey';
  src: url('fonts/Hershey-Noailles-Futura-Duplex-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'syne';
  src: url('fonts/SyneMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bbb';
  src: url('fonts/BBBBaskervvol-Base.woff') format('woff'),
			 url('fonts/BBBBaskervvol-Base.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bbb';
  src: url('fonts/BBBBaskervvol-Fondue.woff') format('woff'),
			 url('fonts/BBBBaskervvol-Fondue.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body{
  font:16px bbb, sans-serif;
  line-height: 1.4;
}

@page {
	size: 148mm 105mm; 
  margin: 8mm;
}

/* ---------- FONTS -------- */
h1, h2, h3, h4, h5{
	font-family: "Hershey", sans-serif;
  /*margin:0;*/
  line-height: 1.2;
  font-weight: normal;
}

code{
	font-family: "syne", monospace;
	font-size: 16px/1.1em;
}

/* ------- HEADER --------- */
.emoji{
  position: absolute;
  top: 0;
}

.emoji-left{
  left: 0;
}

.emoji-right{
  right: 0;
}

.logo{
  border: 1px solid #000;
  border-radius: 50%;
  width: 70%;
  margin:auto;
  margin-top: 2mm;
  margin-bottom: 2mm;
}

header{
  text-align: center;
  margin-bottom: 1em;

}

header h1{
  margin:0;
  line-height: 0.7;
  font-size: 3em;
  color: #FFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header h2{
  text-transform: uppercase;
  font-size: 1em;
  margin-top:1mm;
  margin-bottom: 0;
}

header h3{
  text-transform: uppercase;
  margin:0;
}

h4{
  text-align: center;
  margin:0;
  font-size: 1em;
}

/* ------- TEXT --------- */

p{
  text-align: center;
  /*font-size: 0.9em;*/
  margin:0;
}

footer{
  margin-top: 2mm;
}

.website-link{
  background: #000;
  padding: 1mm 0;
  font-family: "Hershey", sans-serif;
  font-size: 1.5em;
  margin-top: 4mm;
}

.website-link a{
  color: #FFF;
  text-decoration: none;
}






